.fondo1{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(104,29,253,1) 50%, rgba(252,176,69,1) 100%);
    
}
.fondo2{
    background: rgb(144,180,58);
background: linear-gradient(90deg, rgba(144,180,58,1) 0%, rgba(253,29,217,1) 50%, rgba(252,176,69,1) 100%);
}
.cajita{
    
    border: 2px solid black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    display: inline-block;

}
